body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

#page {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

main {
  padding-top: 5%;
  padding-bottom: 10%;
}

a:link {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

/* Klasse für die Projektüberschriften */
a.project-title {
  color: #1bf1f1; /* Blaue Farbe */
}


a:visited {
  color: #1bf1f1;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #f21be4;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #ccff00;
  background-color: transparent;
  text-decoration: underline;
}

.topnav {
  padding-top: 1%;
  background-color: #000;
  color: #fff;
  position: sticky;
  z-index: 1000;
  top: 0;
}

.navbar-content {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "left center right";
}

.topnav-left {
  text-align: left;
  grid-area: left;
}
.topnav-center {
  text-align: center;
  grid-area: center;
}
.topnav-right {
  text-align: right;
  grid-area: right;
}

* {
  box-sizing: border-box;
}


@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 300px) {
  .topnav {
    grid-template-columns: auto;
    grid-template-areas: auto;
  }
}

.footer {
  position: relative;
  z-index: 1;
  bottom: auto;
}

.footer-content {
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "left center right";
}

.footer-left {
  grid-area: left;
  text-align: left;
}

.footer-center {
  grid-area: center;
  text-align: center;
}

.footer-right {
  grid-area: right;
  text-align: right;
}

.bg-primary-landing {
  background-color: #0000ff;
  margin-left: -20%;
  margin-right: -20%;
}