body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  padding-left: 10rem;
  padding-right: 10rem;
}

a:link {
  color: rgb(5, 246, 238);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(0, 26, 255);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.topnav {
  background-color: #000;
  color: #fff;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "left center right";
  position: -webkit-sticky;
  position: sticky;
  
  top: 0;
  z-index: 1000;
}
.topnav-left {
    text-align: left;
    grid-area: left;
}
.topnav-center {
    text-align: center;
    grid-area: center;
}
.topnav-right {
    text-align: right;
    grid-area: right;
}



* {
  box-sizing: border-box;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 20px;
}

@media screen and (max-width: 1300px) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width: 950px) {
  .row {
    flex-direction: column;
  }
}



.footer {
  position: relative;
  z-index: 1;
  min-height: 200px;
}

.footer-content {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "left center right";
}

.footer-left {
  grid-area: left;
}

.footer-center {
    grid-area: center;
    text-align: center;
}

.footer-right {
  grid-area: right;
  text-align: right;
}


.bg-primary-landing {
  background-color: rgb(195, 19, 19);
  margin-left: -5rem;
  margin-right: -5rem;
}

.bg-primary-about {
  background-color: rgb(10, 92, 235);
  margin-left: -5rem;
  margin-right: -5rem;
}




.hidden {
    display: none;
}
